streamlit
opencv-python-headless
numpy
torch
torchvision
mediapipe
yt-dlp
openai-whisper
deep-translator
sounddevice
scipy
moviepy
streamlit-webrtc
av
pydub
audioop-lts
setuptools-rust
